<template>
  <div>
    <p v-if='label' class="image-label">Foto: <span v-html="label"></span></p>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ImageLabel',

  props: ['objectUrl'],

  data () {
    return {
      label: null
    }
  },

  created () {
    axios
      .get(this.objectUrl, { headers: { 'Accept': 'application/json' } })
      .then(response => {
        let erfgoedobject = response.data
        if (erfgoedobject.primaire_foto) {
          this.label = erfgoedobject.primaire_foto.label
        }
      })
      .catch(error => {
        console.log('-----error-------')
        console.log(error)
      })
  }
}
</script>

<style scoped>
.image-label {
  color: #444444;
  font-size: x-small;
  font-style: italic;
  margin-top: 2em;
}
</style>

