<template>
  <div>
    <h1>Doorzoek de inventaris van het onroerend erfgoed</h1>
    <p> Data afkomstig van de Vlaamse Overheid, 
      <a href="https://www.onroerenderfgoed.be">Agentschap Onroerend Erfgoed</a>
    </p>
    <input v-model="query" 
           placeholder="Type search keywords..."
	   v-on:keyup.enter="getResults()">
    <button class="btn btn-dark"
            v-on:click="getResults()">Zoek</button>
    <p v-if="r">Aantal resultaten: {{ r.totalResults }}</p>
    <div v-if="r && typeof r.links !== 'undefined'">
      <button class="btn btn-link"
              v-if="typeof r.links.prev !== 'undefined'"
              v-on:click="getPrev()">Vorige</button>
      <button class="btn btn-link" 
              v-if="typeof r.links.next !== 'undefined'"
              v-on:click="getNext()">Volgende</button>  
    </div>
    <div style="display:block; margin:auto; max-width: 60rem;">
      <div class="card-columns">
        <b-card v-for="result in results" :key="result.id" v-bind::title="result.omschrijving"
          v-bind:img-src="typeof result.primaire_foto === 'undefined'?'https://inventaris.onroerenderfgoed.be/dist/c/1.8.3/oeps/resources/images/gn_afbeelding.gif':result.primaire_foto.sizes.medium"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem; margin:auto;"
          class="mb-2">
          <p class="card-text" v-html="result.korte_beschrijving"></p>
          <b-button class="btn btn-light" 
		    v-bind:href="result.links[0].href" 
		    variant="primary">Naar de inventaris
	  </b-button>
          <my-label v-if="typeof result.primaire_foto !== 'undefined'" 
		    v-bind:object-url="result.links[1].href"></my-label>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ImageLabel from '@/components/ImageLabel'

export default {
  name: 'Search',
  data () {
    return {
      query: null,
      r: null,
      results: null,
      endpoint: 'https://inventaris.onroerenderfgoed.be/erfgoedobjecten?tekst='
    }
  },

  methods: {
    getResults () {
      axios
        .get(this.endpoint + this.query, { headers: { 'Accept': 'application/json' } })
        .then(response => {
          this.r = response.data
          this.results = response.data['items']
        })
        .catch(error => {
          console.log('-----error-------')
          console.log(error)
        })
    },

    getNext () {
      axios
        .get(this.r.links.next.href, { headers: { 'Accept': 'application/json' } })
        .then(response => {
          this.r = response.data
          this.results = response.data['items']
        })
        .catch(error => {
          console.log('-----error-------')
          console.log(error)
        })
    },

    getPrev () {
      axios
        .get(this.r.links.prev.href, { headers: { 'Accept': 'application/json' } })
        .then(response => {
          this.r = response.data
          this.results = response.data['items']
        })
        .catch(error => {
          console.log('-----error-------')
          console.log(error)
        })
    }
  },

  components: {
    'my-label': ImageLabel
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
